<div class="row" ng-controller="ChatListController">
    <p>在下方列表选择要导出的聊天列表</p>
    <div class="col-md-6" style="height:700px; overflow:scroll;">
        <table class="table table-striped" >
            <tr>
                <th>聊天名</th>
                <th>聊天消息总数</th>
            </tr>
            <tr ng-repeat="(key, value) in dbTables" ng-click="">
                <td>{{value[0]}}</td>
                <td>{{value[1]}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <form>
            this is chat list : {{filePath}}
            <div class="form-group">
                <button  class="btn btn-primary btn-lg col-md-2 col-md-offset-5">开始</button>
            </div>
        </form>
    </div>
</div>
