<div class="row" id="zs_starter" ng-controller="EntryController">

    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label>选择 MM.sqlite 文件</label>
                <input type="file" class="form-control" on-file-change="onFileChange">
            </div>
            <div class="form-group">
            <button ng-click="importSqliteFile(sqlFile)" class="btn btn-block btn-primary">导入微信备份</button>
            </div>
            <div class="form-group">

            <button class="btn btn-block btn-success" ui-sref="tutorial">教程：如何从iPhone导出微信备份</button>
                </div>
        </form>

    </div>

</div>

</div>