<!-- modal样式参考：https://www.uibootstrap.net/angular-ui-bootstrap/angular-bootstrap-modal-example-demo/-->

<div class="clearfix" id="">
    <div class="modal-body log-view">

        <div class="clearfix zs-image-show">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span style="font-size: xx-large;height: 10px;line-height: 10px" aria-hidden="true">&times;</span></button>

            <div ng-bind-html="datas.msg_body">{{datas.msg_body}}</div>
        </div>
    </div>

</div>
