<div class="row" id="zs_starter" ng-controller="NewEntryController">
    <div class="col-md-4 col-md-offset-4">
        <button ng-click="jumpToSoft1()" class="btn btn-block btn-primary">开始原始数据分析</button>
        <!--<button ng-click="jumpToSoft2()" class="btn btn-block btn-primary">Soft 2 解析多媒体</button>-->
        <button ng-click="jumpToSoft3()" class="btn btn-block btn-primary">查看聊天记录</button>
        <!--<button ng-click="jumpToSoft4()" class="btn btn-block btn-primary">Soft 4 导出聊天记录</button>-->
    </div>
</div>
</div>