<nav class="navbar navbar-default" ng-controller="TopBarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="newEntry">微信备份</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a go-to-previous-page><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a></li>
                <li><a go-to-next-page><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>