li{
    cursor: default;
}
/* createProject Page*/
#createProjectDiv{
    margin-top: 20%;
}
/*.container{*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
/* topbar Page */
.navbar{
    margin-bottom: 0;
}
/* main Page */
#zs_starter{
    margin-top: 30%;
}
/* sampleCutting Page */
#fullArea{
    height: 700px;
    background-color: greenyellow
}
#samplesArea{
    height: 100%;
    background-color: sandybrown;
}
#mainArea{
    height: 100%;
    background-color: fuchsia;
}
#toolArea{
    height: 50px;
    background-color: orange;
}
#cuttingArea{
    height: 650px;
    background-color: aquamarine;
    display: inline-block;
}
/* chatDetail Page */
.zs-chat-window{
    background-color: #f3f3f3;
}
.zs-message-wrapper{
    margin: 10px;
}
.zs-message{
    margin-bottom: 10px;
}
.zs-message-content{
    background-color: #83f256 ;
    padding: 10px;
    border-radius: 10px;
}
.zs-message-content-other{
    background-color: #ffffff;
}